.c-backgroundImg {
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 16rem;
    background-image: url(../../shared/assets/images/russ-martin-Rec1f6XewdY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    background-position: center center;
  }
  
  .c-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    & h2{
      font-size: 20px;
      font-weight: bold;
    }
    & p{
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0;
      width: 80%;
      margin: auto;
    }
  }
  
  .c-registerForm {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 25px;
  
    & label {
      width: 85%;
    }
    &__inputEmail{
      border:0;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid grey;
      margin-bottom: 10px;
      color: rgb(196, 196, 196);
    }
  
    &__inputPassword {
      border:0;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid grey;
      margin-bottom: 20px;
      color: rgb(196, 196, 196);
    }
  
    &__a {
      margin-left: 20px;
      margin-bottom: 20px;
      color:#28bfd3;
    }
  }
  
  .b-main-button__blue {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 50px;
    width: 85%;
    border-radius: 10px;
    background-color: #28bfd3;
    color: white;
    border: none;
  
  }

 
  .menu-bottons-login {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    text-align: left;
    & span {
        margin-left: 30px;
        font-size: 18px;
        color:#28bfd3;
    }
  }
  
  
  