.c-backgroundImgLibrary {
    display: flex;
    width: 100%;
    height: 25rem;
    background-image: url(../../shared/assets/images/fernando-lavin-YDdZ6nbGS24-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    background-position: center center;
  }
  
  .c-title {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
    & h2{
      font-size: 24px;
      font-weight: bold;
      
    }
   
  }

.c-resultspage{
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
  
    &__msg{
      text-align: left;
      color: rgb(89,95,101);
      font-weight: bold;
      font-weight: bold;
      font-size: 14pt;
      letter-spacing: 0.5pt;
      
    }
  
    &__product{
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;
    }
  
    &__main-container{
      display:flex;
      flex-direction: row;
      width: 90%;
    }
}  

.b-frame {
    padding: 20px;

    &__green {
      padding: 10px;
      margin: 20px;
      border-radius: 0.8rem;
      border: 10px solid rgb(200, 201, 204);
      width: 192pt;
      height: fit-content;
      position: relative;
      /* left: 100px; */
     
      
    }

  }

  .b-img-frame {
    justify-content: center;
    text-align: center;
    padding: 4px;
    max-width: 132pt;
    max-height: 132pt;
    border-radius: 12px;
  }

  .b-frame__caption {
    text-align: center;
    margin-top: 6px;
    font-size: 16px;
    font-weight: bold;
  }

  .menu-bottons-library {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    & span {
        margin-top: 12px;
        margin-left: 12px;
        font-size: 18px;
        color:#28bfd3;
    }
  }
