.c-backgroundImgForm {
    display: flex;
    min-width: 100%;
    height: 18rem;
    background-image: url(../../shared/assets/images/russn_fckr-krV5aS4jDjA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    background-position: center center;
    margin-bottom: 20px;
  }
  .c-title {
    display: flex;
    flex-direction: column;
    margin-top:  -60px;
    text-align: center;
    & h2{
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
    }
    & p{
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0;
      width: 80%;
      margin: auto;
    }

  }

  .c-registerForm {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 20px;
  
    & label {
      width: 85%;
    }
    &__inputTitle{
      border:0;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid grey;
      margin-bottom: 10px;
      color: rgb(196, 196, 196);
      font-family: 'Roboto', sans-serif;
    }
  
    &__inputImages {
      border:0;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid grey;
      margin-bottom: 20px;
      color: rgb(196, 196, 196);
      font-family: 'Roboto', sans-serif;
    }
  
  }

  .menu-bottons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    & span {
        margin-top: 40px;
        margin-left: 12px;
        font-size: 18px;
        color:#28bfd3;
    }
  }
  