.c-backgroundWelcome {
    display: flex;
    margin-top:30px;
    min-width: 100%;
    height: 22rem;
    background-image: url(../../shared/assets/images/alphacolor-66JMudIjDTw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  .c-title {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
    & h1{
      margin-top: 20px;
      font-size: 40px;
      font-weight: bold;
    }
    & p{
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0;
      width: 80%;
      margin: auto;
    }
 
  }

  .c-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

  
    &__link {
      color:rgb(49, 49, 49);
      margin-top: 10px;
      margin-bottom: 2px;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
  
    }
  
    &__backHome {
      color:rgb(49, 49, 49);
      font-size: 16px;
      letter-spacing: 0.24px;
      text-decoration: none;
    }
  }
  