.search-form {
    display: flex;
    margin: 0px auto;
    margin-top: 30px;
    width: 40%;
    height: 32px;
    font-size: 14px;
    
    &_input {
        border-radius: 10px;
        border: 1px solid gray;
        padding: 4px;
        text-align: center;
    }
    }

    .header-bottons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        & span {
            margin-top: 20px;
            font-size: 18px;
            color:#28bfd3;
        }
      }

