

.c-podcast-gallery {

  margin-top: 40px;
    &__item-container {
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    &__item {
      height: 30rem;
      margin: 2px auto;
      text-align: center;
      cursor: pointer;
      position: relative;
      
      
    }
  
    &__img {
  
      height: 20rem;
      max-width: 100%;
  
    }
  
    &__caption {
      font-size: 24px;
      margin-top: 16px;
      padding: 16px;
      background-color: rgba(255, 255, 255, 0.1);
      color: rgb(66, 66, 66);
      
  
    }

    &__span{
      font-size: 20px;
      color:#28bfd3;
      padding: 12px;
    }

    &__span_heart{
      font-size: 22px;
      color:#e64fac;
      padding: 12px;
    }

    
  
  
  }